/** page structure **/

body {
  font-family: 'Open Sans', sans-serif;
}
#wrapper {
  display: block;
  width: 240px;
  margin: 0 auto;
}
 
 #wrapper h1 {text-align: center}
 
/** signup form design **/
.email-signup {
  display: block;
  width: 240px;
  margin: 0 auto;
  font-size: 12px;
  color: #3c604a;
  background: #abc3b5;
  padding: 10px;
  border: 1px solid #8fa297;
  border-radius: 5px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
}
 
 
.email-signup-head {
  display: block;
  font-size: 1.35em;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}
 
.email-signup p {
  text-align: center;
}
 
.email-input {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 6px 10px;
  border: 1px solid #98b3a3;
  color: #999;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 6px;
  -webkit-transition: color 0.3s linear, border-color 0.3s linear, box-shadow 0.3s linear;
  -moz-transition: color 0.3s linear, border-color 0.3s linear, box-shadow 0.3s linear;
  transition: color 0.3s linear, border-color 0.3s linear, box-shadow 0.3s linear;
}
.email-input:focus {
  color: #6a6a6a;
  border: 1px solid #749381;
  box-shadow: 0px 0px 10px #d1f1de;
}
 
 
.flat-btn {
  display: block;
  width: 160px;
  margin: 0 auto;
  padding: 10px;
  background: #abc3b5;
  font-size: 1.0em;
  font-weight: bold;
  color: #3c604a;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}
.flat-btn:hover { background: #3c604a;color:#fff;}
.flat-btn:active {
  background: #3c604a;
  -webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 0 2px 5px rgba(0,0,0,0.35);
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.35);
}